{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habits</title>
    <link rel="stylesheet" href="{% static 'styless/habits.css' %}">
    
    <link rel="stylesheet" href="{% static 'styless/checkbox.css' %}">
</head>
<body>
    <section>
        <div class="create_container">
         <form action="{% url 'add-habits' %}" method="POST">  
            {% csrf_token %}
            <input 
            class="create_input"
            type="text"
            placeholder="Привычки"
            name="habits_name"
            />
          
            <button class="create_button">Задачи</button> 
        </form> 
        </div>
           
        <div class="todo_container">
            {% for habits in habits_list %}
            <div class="todo_item
                 {% if habits.important %}
                 marked
                 {% endif %}
            ">
            <div class="todo_item_header">
                    <label for="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>{{ habits.name }}</h4>
            </div>
                <div class="todo_item_footer">
                    <p>25.09.2022 <span>15:27</span></p>
                    <div class="action_buttons">

                        {% if habits.important %}
                           <a href="{% url 'mark-habits' habits.id %}"><img src="{% static './icons/1_2789.png' %}"></a>
                        {% else %}
                           <a href="{% url 'mark-habits' habits.id %}"><img src="{% static './icons/звезда.png' %}"></a>
                        {% endif %}

                        <a href="{% url 'del-habits' habits.id %}"><img src="{% static './icons/корзинка.png' %}"></a>
                        
                    </div>
                </div>
            </div>
        
        </div>
            {% endfor %}
            
    </section>
  
    
</body>
</html>