{% load static %}
   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meeting</title>

    <link rel="stylesheet" href="{% static 'styless/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'styless/checkbox.css' %}"/>
</head>
<body>
    <section>
        <div class="create_container">
            <input 
            class="create_input"
            type="text"
            placeholder="Новая встреча"/>

            <button class="create_button">запись</button>  
        </div>
        <div class="todo_container">
              <div class="todo_item">
                <div class="todo_item_header">
                    <label for="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Плановая встреча</h4>
                </div>
                <div class="todo_item_footer">
                    <p>25.09.2022</p>
                    <div class="action_buttons">
                        <img src="./icons/1_2789.png">
                        <img src="./1485477104-basket_78591.png">
                    </div>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label for="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Плановая встреча</h4>
                </div>
                <div class="todo_item_footer">
                    <p>25.09.2022</p>
                    <div class="action_buttons">
                        <img src="./icons/1077038.png">
                        <img src="./icons/1485477104-basket_78591.png">
                    </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label for="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Плановая встреча</h4>
                </div>
                <div class="todo_item_footer">
                    <p>25.09.2022</p>
                    <div class="action_buttons">
                        <img src="./icons/1_2789.png">
                        <img src="./icons/1485477104-basket_78591.png">
                    </div>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label for="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Плановая встреча</h4>
                </div>
                <div class="todo_item_footer">
                    <p>25.09.2022</p>
                    <div class="action_buttons">
                        <img src="./icons/1_2789.png">
                        <img src="./icons/1485477104-basket_78591.png">
                    </div>
                </div>
            </div>
            <div class="todo_item">
                <div class="todo_item_header">
                    <label for="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Плановая встреча</h4>
                </div>
                <div class="todo_item_footer">
                    <p>25.09.2022</p>
                    <div class="action_buttons">
                        <img src="./icons/1_2789.png">
                        <img src="./icons/1485477104-basket_78591.png">
                    </div>
                </div>
            </div>
            <div class="todo_item done"><div class="todo_item_header">
                <label for="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Плановая встреча</h4>
            </div>
            <div class="todo_item_footer">
                <p>25.09.2022</p>
                <div class="action_buttons">
                    <img src="./icons/1077038.png">
                    <img src="./icons/1485477104-basket_78591.png">
                </div>
            </div></div>
        </div>
    </section>
    
    
</body>
</html>